<div class="container">
  <div class="row">
    <!--FORM-->
    <div class="col-md-5 offset-md-3">
      <div class="card">
        <div class="card-body">
          <h1>Actualizar información</h1>

          <form action="/tasks/{{task._id}}/edit" method="post">
            <div class="mb-3">
              <input
                class="form-control"
                type="text"
                name="nombre"
                placeholder="Nombre de visitante"
                value="{{task.nombre}}"
              />
            </div>
            <div class="mb-3">
              <input
                class="form-control"
                name="fecha"
                type="date"
                placeholder="Fecha de visita"
                value="{{task.fecha}}"
              >
            </div>
            <div class="mb-3">
              <select class="form-control"
                class="form-control"
                name="tipo"
                placeholder="Tipo de visita">
              <option value="Frecuente">Frecuente</option>
              <option value="Eventual">Eventual</option>{{task.tipo}}</select>
            </div>
            <div class="mb-3">
              <input
                class="form-control"
                name="razon"
                placeholder="Razón de visita"
                value="{{task.razon}}"
              >
            </div>
            <a class="btn btn-dark" href="/">Cancelar</a>
            <button class="btn btn-primary" type="submit">Actualizar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>